{% load static %}

<header>
    <nav id="Navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage:index' %}">
                <h3>Story6PPW</h3>
            </a>
            <button id="NavbarHeaderButton" class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>