* {
    margin: 0px;
}

.flex-centered {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 120%;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.statusform {
    background: #133337;
    border-width: 5px;
    border-radius: 15px;
    border-color: #CFF208;
    border-style: inset;
    width: 45vw;
    height: 50px;
    text-align: center;
    margin: 1vw 0;
}

.statusform::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    font-style: italic;
    /* Firefox */
}

.statusform:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
    font-style: italic;
}

.statusform::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
    font-style: italic;
}

textarea:focus,
input:focus {
    color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #220F39 inset;
    -webkit-text-fill-color: white;
    caret-color: white;
}

input,
select,
textarea {
    color: #ffffff;
    outline: none;
}

.header-wrapper h1 {
    font-weight: 500;
}

.header-wrapper h3 {
    font-style: italic;
    font-weight: 600;
}

.btn-primary {
    background-color: #CFF208;
    border-radius: 13px;
    border-color: #CFF208;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #CFF208;
    border-color: #CFF208;
    border-radius: 15px;
}

.button-down {
    display: none;
    margin: 2vh 0 0 0;
}

.button-up {
    transform: rotate(180deg);
    display: none;
    margin: 20vh 0 2vh 0;
}

.status-wrapper {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    width: 100%;
    display: flex;
    display: -webkit-flexbox;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-container-wrapper {
    margin: 0.5vw auto;
}

.status-container {
    padding: 1vw 2vw;
    word-wrap: break-word;
    border-width: 5px;
    border-radius: 10px;
    border-color: #CFF208;
    border-style: outset;
    /* width: fit-content; */
    max-width: 60vw;
    height: max-content;
    /* width: 60vw; */
}

.status-container h6 {
    font-size: 1em;
    font-style: italic;
    color: gainsboro;
}

@media only screen and (max-width: 600px) {
    .status-wrapper {
        overflow-y: unset;
        width: auto;
    }
    .statusform {
        margin: 2vw 0;
        width: 80vw;
    }
    .status-container {
        max-width: 80vw;
    }
    .button-down,
    .button-up {
        display: initial;
    }
}